---
import { Image } from "astro:assets";
import Heading from "../components/heading/heading";
import Layout from "../layouts/Layout.astro";

export async function getStaticPaths() {
  const response = await fetch(
    "https://hallinta.kriteeripankki.fi/fi/jsonapi/node/criterion",
  );
  const { data } = await response.json();

  return data.map(({ attributes }: any) => {
    return {
      params: { slug: attributes.drupal_internal__nid },
      props: {
        title: attributes.title,
        text: attributes.field_reasoning,
        id: attributes.drupal_internal__nid,
      },
    };
  });
}

const { title, text, id } = Astro.props;
---

<Layout title={title}>
  <a href="/">Back to home</a>
  <Heading level="h1" size="xl">{title}</Heading>
  <Image
    src={`https://picsum.photos/id/${id}/800/600`}
    alt="random"
    width={600}
    height={400}
  />
  <p class="text-lg mt-20">{text}</p>
</Layout>
