---
import { BlocksRenderer } from "@strapi/blocks-react-renderer";
import Heading from "../components/heading/heading";
import Modal from "../components/modal/modal";
import Layout from "../layouts/Layout.astro";
import { Accordion } from "../components/accordion/accordion-wrapper";

const response = await fetch(
  import.meta.env.STRAPI_URL + "articles?populate=*",
);

const { data } = await response.json();

console.log(data);
---

<Layout title="Welcome to Astro.">
  <Heading level="h1" size="xl">Tämä sisältö tulee Strapista</Heading>
  <Modal id="test-modal" openButton="Avaa" client:idle> Avattu modaali. </Modal>
  <ul>
    <li><a href="search">Haku</a></li>
  </ul>

  {
    data?.map(({ attributes }) => (
      <article>
        <Heading level="h2" size="medium">
          {attributes.title}
        </Heading>
        <BlocksRenderer content={attributes.blocks} />
        {attributes.Accordion && (
          <Accordion data={attributes.Accordion} client:idle />
        )}
      </article>
    ))
  }
</Layout>
