---
import { BlocksRenderer } from "@strapi/blocks-react-renderer";
import Heading from "../components/heading/heading";
import Modal from "../components/modal/modal";
import Layout from "../layouts/Layout.astro";

const response = await fetch(import.meta.env.STRAPI_URL + "articles");

const { data } = await response.json();

console.log(data);
---

<Layout title="Welcome to Astro.">
  <main class="max-w-screen-xl mx-auto my-20">
    <Heading level="h1" size="xl">This content comes from Strapi</Heading>
    <Modal id="test-modal" openButton="Avaa" client:idle>
      Opened modal text.
    </Modal>
    <ul>
      <li><a href="subpage">Subpage</a></li>
      <li><a href="other-page">Other</a></li>
    </ul>
    {
      data?.map(({ attributes }) => (
        <article>
          <Heading level="h2" size="medium">
            {attributes.Title}
          </Heading>
          <BlocksRenderer content={attributes.Blocks} />
        </article>
      ))
    }
  </main>
</Layout>
