---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Modal from "../components/modal/modal";
import Heading from "../components/heading/heading";
import { Image } from "astro:assets";

const response = await fetch(
  "https://hallinta.kriteeripankki.fi/fi/jsonapi/node/criterion",
);
const { data } = await response.json();
---

<Layout title="Front page">
  <main>
    <Heading level="h1" size="xl">Welcome to Astro</Heading>

    <div class="my-6">
      <Modal id="test" client:load> Opened </Modal>
    </div>

    {
      data.map((item: any) => (
        <div class="mb-10">
          <a
            href={item.attributes.drupal_internal__nid}
            class="underline text-xl font-bold"
          >
            {item.attributes.title}
          </a>

          <Image
            src={`https://picsum.photos/id/${item.attributes.drupal_internal__nid}/600/600`}
            alt="random"
            width={300}
            height={300}
          />
          <p>{item.attributes.field_reasoning}</p>
        </div>
      ))
    }

    <ul role="list" class="link-card-grid">
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
      <Card
        href="https://astro.build/integrations/"
        title="Integrations"
        body="Supercharge your project with new frameworks and libraries."
      />
      <Card
        href="https://astro.build/themes/"
        title="Themes"
        body="Explore a galaxy of community-built starter themes."
      />
      <Card
        href="https://astro.build/chat/"
        title="Community"
        body="Come say hi to our amazing Discord community. ❤️"
      />
    </ul>
  </main>
</Layout>
