---
import { BlocksRenderer } from "@strapi/blocks-react-renderer";
import Heading from "../components/heading/heading";
import Layout from "../layouts/Layout.astro";
import { Accordion } from "../components/accordion/accordion-wrapper";
import RichText from "../components/rich-text/rich-text";

const response = await fetch(
  import.meta.env.STRAPI_URL + "articles?&populate=*",
);

const { data } = await response.json();
---

<Layout title="Welcome to Astro.">
  <Heading level="h1" size="xl">Tämä sisältö tulee Strapista</Heading>

  <ul class="flex flex-col gap-3">
    {
      data?.map((article) => (
        <li class="text-xl underline">
          <a href={"articles/" + article.id}>{article.attributes.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
