---
import Layout from "../layouts/Layout.astro";

const response = await fetch("https://strapi-nxls.onrender.com/api/articles");

const { data } = await response.json();
---

<Layout title="Welcome to Astro.">
  <main class="max-w-screen-xl mx-auto my-20">
    {
      data.map(({ attributes }) => (
        <article>
          <p>{attributes.Body}</p>
        </article>
      ))
    }
  </main>
</Layout>
