<footer class="bg-slate-200 py-20">
  <div class="max-w-screen-xl mx-auto flex justify-between items-center">
    <div>
      <h2 class="text-lg font-bold">Astro demo</h2>
      <p class="text-sm">© 2024 All rights reserved</p>
    </div>
    <div class="flex gap-32">
      <ul class="flex gap-2 flex-col">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
      <ul class="flex gap-2 flex-col">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
      <ul class="flex gap-2 flex-col">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
