---
import { MagnifyingGlassIcon } from "@heroicons/react/24/outline";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
  </head>
  <body>
    <header class="flex justify-between items-center py-2 px-10 bg-slate-400">
      <div class="w-20 h-20 bg-slate-400">
        <img src="/favicon.svg" alt="Site Logo" />
      </div>
      <nav>
        <ul class="flex gap-3">
          <li><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>

      <div>
        <a href="/search" class="flex items-center gap-2">
          <div>Hae sivustolta</div>
          <MagnifyingGlassIcon className="w-6 h-6 stroke-2" />
        </a>
      </div>
    </header>
    <main class="max-w-screen-xl mx-auto my-20">
      <slot />
    </main>
  </body>
</html>
